---
import SectionContainer from "@components/Sections/SectionContainer.astro";
import CtaButton from "@components/ui/CtaButton.astro";
import language from '@data/i18n/es.json';
import Blendy from "@components/Blendy.astro";

const { TITLE, PRETITLE, CTA, FIRST_IMAGE, FIRST_IMAGE_ALT, SECOND_IMAGE, SECOND_IMAGE_ALT } = language.PAGES.HOME.SECTIONS.CALL_TO_ACTION
---

<SectionContainer class="bg-gray-800 flex flex-col md:flex-row p-10 rounded-lg call-to-action">
  <div class="flex-1 flex flex-col justify-center items-center gap-8">
    <div class="flex flex-col justify-center items-center">
      <span class="text-3xl md:text-4xl text-center font-IBMCondensed mb-4 font-bold text-secondary">{PRETITLE}</span>
      <h2 class="text-center text-accent font-thin">{TITLE}</h2>
    </div>
    <Blendy id="cta" text={CTA} />
  </div>
  <div class="flex-1 flex flex-col justify-center items-center min-h-80 relative">
    <img loading="lazy" src={FIRST_IMAGE} alt={FIRST_IMAGE_ALT} class="cta-image-right object-cover absolute rounded-lg" />
    <img loading="lazy" src={SECOND_IMAGE} alt={SECOND_IMAGE_ALT} class="cta-image-left h-48 object-cover absolute rounded-lg" />
  </div>


</SectionContainer>

<style is:global>
	@media (prefers-reduced-motion: no-preference) {

    .cta-image-left {
      opacity: 0;
      left: -100px;
      top: 50%;
      animation: move-to-right linear forwards;
      animation-timeline: view();
      animation-range: 35% 45%;
    }

    .cta-image-right {
      width: 0;
      opacity: 0;
      right: -100px;
      animation: move-to-left linear forwards;
      animation-timeline: view();
      animation-range: 25% 35%;
    }

    @keyframes move-to-right {
      to {
        left: 0;
        opacity: 1;
      }
    }

    @keyframes move-to-left {
      to {
        width: 20rem;
        right: 0;
        opacity: 1;
      }
    }

    .call-to-action {
      scale: 0.8;
      opacity: 0;
      animation: fade-in linear forwards;
      animation-timeline: view();
      animation-range: 100px 300px;
    }

    @keyframes fade-in {
      to {
        scale: 1;
        opacity: 1;
      }
    }
  }
</style>