---
import BentoItem from "@components/Bento/BentoItem.astro";
import SectionContainer from "./SectionContainer.astro";
import BentoGrid from "@components/Bento/BentoGrid.astro";
import language from '@data/i18n/es.json';
import Image from "astro/components/Image.astro";

const { TITLE, ITEMS } = language.PAGES.SERVICES.CORPORATIVE_WEB_DESIGN.CORPORATIVE_PILARS;
const { FIRST_ITEM, SECOND_ITEM, THIRD_CONTENT, FOURTH_CONTENT } = ITEMS
---

<SectionContainer id="pilares-corporativos" class="mb-20">
  <BentoGrid>
    <BentoItem
      class="sm:col-span-2 md:col-span-3 text-xl text-white flex flex-col gap-4 p-6 rounded-lg"
    >
      <h2 class="text-3xl md:text-4xl font-IBMCondensed text-accent font-medium text-balance">{TITLE}</h2>
      <p class="pt-4 text-gray-300 font-extralight text-pretty">{FIRST_ITEM.CONTENT}</p>
    </BentoItem>

    <BentoItem tag="article" class="bg-violet-700 md:row-span-2 p-6 rounded-lg bento-item">
      <h3 class="text-2xl font-semibold font-IBMCondensed">{SECOND_ITEM.TITLE}</h3>
      <p class="pt-4 text-gray-300 font-extralight text-pretty">{SECOND_ITEM.CONTENT}</p>
      <Image width={500} height={500} src={SECOND_ITEM.IMAGE} alt={SECOND_ITEM.TITLE} class="w-full object-cover rounded-lg mt-4" />
    </BentoItem>
    <BentoItem tag="article" class="bg-gray-800 md:row-span-2 p-6 rounded-lg bento-item">
      <h3 class="text-2xl font-semibold font-IBMCondensed">{THIRD_CONTENT.TITLE}</h3>
      <p class="pt-4 text-gray-300 font-extralight text-pretty">{THIRD_CONTENT.CONTENT}</p>
      <Image width={500} height={500} src={THIRD_CONTENT.IMAGE} alt={THIRD_CONTENT.TITLE} class="w-full object-cover rounded-lg mt-4" />
    </BentoItem>
    <BentoItem tag="article" class="bg-gradient-to-br from-blue-600 to-indigo-800 md:row-span-2 p-6 rounded-lg bento-item">
      <h3 class="text-2xl font-semibold font-IBMCondensed">{FOURTH_CONTENT.TITLE}</h3>
      <p class="pt-4 text-gray-300 font-extralight text-pretty">{FOURTH_CONTENT.CONTENT}</p>
      <Image width={500} height={500} src={FOURTH_CONTENT.IMAGE} alt={FOURTH_CONTENT.TITLE} class="w-full object-cover rounded-lg mt-4" />
    </BentoItem>
  </BentoGrid>
</SectionContainer>
