---
import SectionContainer from "@components/Sections/SectionContainer.astro";
import IsForYou from "@components/ui/IsForYou.astro";
import language from '@data/i18n/es.json';

const { HOME } = language.PAGES
const { TITLE, PARAGRAPH, IS_IDEAL, NOT_IDEAL, CTA, ID } = HOME.SECTIONS.IS_FOR_YOU
---

<SectionContainer class="mb-20 md:p-6" id={ID}>
  <div
    class="w-full text-xl text-white flex flex-col gap-4 p-6"
  >
    <slot>
      <h2 class="text-4xl md:text-5xl text-accent font-medium font-IBMCondensed text-balance">{TITLE}</h2>
      <p class="pt-4 text-xl md:text-2xl font-light text-pretty">{PARAGRAPH}</p>
      <img src="/call-to-action/is-for-me.svg" alt="Is for me" class=" w-80 self-center" loading="lazy" />
    </slot>
  </div>
  <IsForYou isIdeal={IS_IDEAL} notIdeal={NOT_IDEAL} cta={CTA} />
</SectionContainer>

<style>
  img {
    mask-image: linear-gradient(to bottom, black 80%, transparent 93%);
  }
</style>