---
import CtaButton from "@components/ui/CtaButton.astro";
import SectionContainer from "./SectionContainer.astro";
import language from '@data/i18n/es.json';
import Blendy from "@components/Blendy.astro";
import Image from "astro/components/Image.astro";

const { title, subtitle, image, text, cta } = Astro.props
---
<SectionContainer class="pb-16 h-[calc(100vh-56px)] justify-center flex-col md:flex-row">
  <div class="flex-1 justify-center items-center flex">
    <div class="flex flex-col gap-8 items-center justify-center header-title">
      <div class="text-center">
        <h1 class="text-sm md:text-xl px-4 font-normal text-balance m-auto font-IBMCondensed">{title}</h1>
        <h2 class="text-3xl md:text-5xl px-4 text-balance" set:html={subtitle} />
      </div>
      <p class="text-white text-lg md:text-xl text-center px-8 font-thin text-pretty">{text}</p>
      <Blendy id="hero" text={cta} />
    </div>
  </div>
  <div class="flex-1 flex justify-center items-center">
    <Image src={image.src} alt={image.alt} width={500} height={500} class="max-w-80" />
  </div>
</SectionContainer>

<style>
  .header-title {
    animation: moveInTop .5s ease-out;
  }

  .hero {
    height: calc(100vh - 56px);
  }

  h1 {
		line-height: 1.2;
		text-align: center;
	}

</style>