---
import { Image } from "astro:assets";
import SectionContainer from "./SectionContainer.astro";
import BentoGrid from "@components/Bento/BentoGrid.astro";
import BentoItem from "@components/Bento/BentoItem.astro";

const { TITLE, CONTENT, CONTENT2, FIRST_IMAGE, SECOND_IMAGE, ITEMS } = Astro.props;
---

<SectionContainer id="que-conseguire" class="mb-20 flex flex-col">

  <h2 class="text-3xl md:text-4xl font-IBMCondensed text-secondary font-medium text-balance">{TITLE}</h2>
  <p class="pt-4 text-gray-300 font-extralight text-pretty" set:html={CONTENT}></p>
  <p class="pt-4 text-gray-300 font-extralight text-pretty" set:html={CONTENT2}></p>
  <div class="flex flex-col md:flex-row gap-4 mb-8">
    <BentoGrid tag="ul" cols={2} class="mt-8">
      {
        ITEMS.map(({ title, description }: {title: string, description: string}) => (
          <BentoItem tag="li">
            <h3 class=" font-IBMCondensed text-accent">{title}</h3>
            <p class="pt-4 text-gray-300 font-extralight text-pretty" set:html={description}></p>
          </BentoItem>
        ))
      }
    </BentoGrid>
    {
      FIRST_IMAGE || SECOND_IMAGE ?
        <div class="flex-1 flex flex-col gap-8 justify-center items-center">
          { FIRST_IMAGE ? <Image width={300} height={300} src={FIRST_IMAGE} alt={TITLE} class="md:max-w-80 lg:max-w-[40rem] max-w-60 hidden md:block" /> : null }
          { SECOND_IMAGE ? <Image width={300} height={300} src={SECOND_IMAGE} alt={TITLE} class="md:max-w-80 lg:max-w-[40rem] max-w-60" /> : null }
        </div>
      : null
    }
  </div>
</SectionContainer>
